.contacts {
	display: flex;
  margin-left: auto;
	list-style: none;
	align-items: center;
	line-height: 1.1;
  letter-spacing: 0.02em;
  font-style: normal;

	&__item:not(:first-child) {
		margin-left: 30px;
	}

	&__link {
		padding-top: 32px;
		padding-bottom: 32px;
		display: flex;
		align-items: center;
		font-weight: 500;
		text-decoration: none;
		color: $contacts;
		
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			color: $hover;
		}
	}

	&__icon {
		margin-right: 10px;
		fill: currentColor;
	}
	
}